{
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "printWidth": 100,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    }
  ]
}
